# https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.1]
indent_style = tab
tab_size = 8

[*.c]
indent_style = tab
tab_size = 8

[*.md]
indent_style = space
indent_size = 2

[*.pl]
indent_style = tab
tab_size = 8

[*.rs]
indent_style = space
indent_size = 4

[*.t]
indent_style = tab
tab_size = 8

[cpanfile]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
tab_size = 8
